@media screen and (max-width:576px) {
    .banner{
        flex-direction: column;
        padding: 20px 20px 0px 20px;
    }
    .banner-text{
        width: 100%;
    }

    .banner-img{
        width: 100%;
    }

    .featured{
        flex-direction: column;
        padding: 30px;
    }
    .section-heading{
        width: 100%;
    }
    .featured .featured-content .flower-img{
      width: 100%;
      height: auto;
    }
    .service-section{
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .hot-deal{
        flex-direction: column-reverse;
        padding: 10px;
        margin-top: 0;
    }
    .hot-deal-text{
        width: 100%;
    }
    .hot-deal-img{
        width: 100%;
    }
    .instagram-content{
        grid-template-columns:1fr;
        padding: 10px;
        
    }
    .latest-deal{
        margin: 10px;
        padding: 50px;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .latest-deal input[type="text"]{
        width:100%;
    }
    .footer{
        margin: 20px 10px 0px 10px ;
        padding: 20px;
        border-radius: 8px;
    }
    .footer .footer-description{
        width: 100%;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    .banner{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .banner-text{
        width: 100%;
    }

    .banner-img{
        width: 100%;
    }
    .featured{
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }
    .instagram-content{
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
    }
    .latest-deal{
        margin:10px;
      
    }
    .footer{
        margin: 20px 5px 0px 5px;
        padding: 20px;
        border-radius: 8px;
    }
}